.firstclass{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 90vh;
    padding: 100px;
}


.j-class{
    width: 800px;
    height: 500px;
    padding: 22px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px  5px rgba(0, 0, 0, 0.61);
}

.input-p{
    width: 100%;
    color: antiquewhite;
}